
body {
    background: url(../images/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    background-color: white;
    padding: 50px;
    width: min(70vw, 1200px);
    align-items: center;
    border: 10px solid palevioletred;
    gap: 50px;
    margin: 50px 0 50px 0;
}

.content-title{
    font-size: 2rem;
}

.content-info{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 50px;
    align-items: flex-start;
    height: 100%;
}

.content-info h1, p{
    margin: 0;
}

.content-img{
    max-width: 300px;
}



/*----------------------------------*/
.nav{
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
    justify-content: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palevioletred;
    padding: 20px;
    width: 100%;
}

/*----------------------------------*/
/* FOOTER */
.footer-div{
    background-color: palevioletred;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.2rem;
    padding: 25px;
}
/*----------------------------------*/